

#vanta-canvas{
    width: 100%;
    height: 100vh;
}

#vanta-canvas-aboutus{
    width: 100%;
    /* height: 110vh; */
    background-color: rgb(196, 196, 255);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 1%;
}

#learn{
    outline: 0;
    border-radius: 10px;
}

.infoBlock{
    /* padding-top: 2%; */
    display: grid;
    height: fit-content;
    width: 25%;
    margin: 0 0 0 1%;
}

.profilePic{
    min-width: 200px;
    width: 210px;
    margin: 2%;
    border-radius: 100%;
}

.aboutus-text{
   background-color: blueviolet;
   border-radius: 30px;
   width: auto;
   position: absolute;
   margin: 14% 0px 0 6%;
   width: 15%;
}
