.all_buttons{
    margin-top: 2%;
}

.btn_parent{
    margin: 0;
    text-align: center;
    justify-content: center;
    display: flex;
}

.btn-group{
    text-align: center;
    width: auto;
    border-radius: 25px;
    background-color:#bd77f2;
}

.btn-group button{
    background-color:#bd77f2; 
    border: 1px #bd77f2;
    color: white; 
    padding: 10px 24px;
    cursor: pointer;
    /* float: left;  */
    border-radius: 25px;
}
