.a{
    display: flex;
    justify-content: center;
}

#btn{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btn-group button{
    background-color:#ee8bee; /* Green background */
    border: 1px #ee8bee; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */ 
}

#roundAge{
    border-radius: 25px;
    background-color:#ee8bee;
    /* width: 32.052%; */
}

.roundB{
    border-radius: 25px;
}
  
.btn-group button:not(:last-child){
    border-right: none;
}
  
.btn-group:after{
    content: "";
    clear: both;
    display: table;
}


.btn-group button:hover{
    background-color: purple;
}

