
html{
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  overflow-x:hidden;
}

#logo {
  margin-top: 0.5%;
  margin-left: 1%;
  cursor: pointer;
}

.head_text1 {
  font-style: normal;
  /* color: White; */
  font-size: xx-large;
  font-family: system-ui;
  font-weight: 500;
  cursor: pointer;
}

.head_text2{
  margin: 0 0 0 15%;
  opacity: 0.4;
  color:white;
  font-size: x-large;
  font-family: Ink Free;
  width: fit-content;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 1258px) {

  .head_text1 {
    font-size: x-large;
  }
  
  .head_text2{
    font-size: x-large;}

}


