body {
  background-position: center;
  background-image: url("screenshot/bg10.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0%;
}

#title{
    display: grid;
}

#logo {
  margin-top: 0.5%;
  margin-left: 1%;
  cursor: pointer;
}

.head_text1 {
  margin: 2% 0% 0 3%;
  font-style: normal;
  color: white;
  font-size: xx-large;
  font-family: system-ui;
  font-weight: 500;
  cursor: pointer;
}

.head_text2{
  margin: 0 0 2% 12%;
  opacity: 0.4;
  color: white;
  font-size: xx-large;
  font-family: Ink Free;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 1258px) {

  body {
    background-image: url("screenshot/mobilebg.jpg");
    background-size: cover;
  }

  .head_text1 {
    font-size: x-large;
  }
  
  .head_text2{
    font-size: x-large;}
  
  
  

}


