body{
    background-position: center;
    background-image: url("Screenshot/bg10.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 94.7vh;  
}

body::after{
    content: "";
    background: url("Screenshot/bg10.png");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
  
#title{
    margin: 2% 0% 2% 2% ;
    font-style: normal;
    color: white;
    font-size: 300%;
    font-family: system-ui;
    font-weight: 500;
}
