table {
  width:75vw;
  height: 65vh;
  color: white;
}

thead {
  width: 100%;
  height: 15%;
}

tbody {
  display:block;
  height:100%;
  overflow:auto;
  
}

thead th{
  padding: 1.8%;
}

tbody td{
  padding: 0.4%;
}

thead tr {
  display:table;
  width:100%;
  table-layout:fixed;
  text-align: center;
  background-color: #5f367e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

tbody tr{
  display:table;
  width:100%;
  table-layout:fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.575); 
}

table ,tr, th {
  border: 1px solid rgba(255,255,255,0.3);
}

#dateBody{
  white-space: nowrap;
}

#addressHead{
  text-align: center;
  width: 30%;
}

#addressBody{
  text-align: left;
  width: 30%;
  padding-left: 1%;
}

/* SCROLL CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
::-webkit-scrollbar{
    width: 0px;
} 

#viewCentersInMobile{
  display: none;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 1258px) {
#viewCenters{
  display: none;
}

#viewCentersInMobile{
  display: grid;
  text-align: center;
  justify-content: center;
}

thead {
  height: 5%;
}

tbody td{
  padding: 4%;
}
tbody tr{
background-color: rgba(0, 0, 0, 0.712);
}

tbody tr{
  display: block;
}

}