.toggle--checkbox {
    display: none;
  }

  /* body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
  } */

  :root {
    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    /** general **/
    --white: #fff;
  }

  .toggle--label {
    width: 6vw;
    height: 6vh;
    background: var(--blue-color);
    border-radius: 10vw;
    border: 5px solid var(--blue-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
  }

  .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: '';
    width: 2vw;
    height: 4vh;
    border: 4px solid var(--yellow-border);
    top: 8%;
    /* left: 4px; */
    position: absolute;
    border-radius: 45%;
    background: var(--yellow-background);
  }

  @keyframes reverse {
    0% {
      left: 50px;
      width: 30px;
    }
    60% {
      left: 40px;
      width: 45px;
    }
    100% {
      left: 4%;
    }
  }

  @keyframes switch {
    0% {
      left: 4%;
    }
    60% {
      left: 4px;
      width: 45px;
    }
    100% {
      left: 50px;
      width: 30px;
    }
  }


  .background {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--blue-background);
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 250ms ease-in;
  }

  /* .toggle--label-background {
    width: 10%;
    height: 20%;
    border-radius: 5px;
    position: relative;
    background: var(--white);
    left:60%;
    transition: all 150ms ease-in;
  }

  .toggle--label-background:before {
    content: '';
    position: absolute;
    width: 1.5vw;
    height: 0.5vh;
    border-radius: 5px;
    background: var(--white);
    left: -0.5vw;
    top: 150%;
    transition: all 150ms ease-in;
  }
  .toggle--label-background:after {
    content: '';
    position: absolute;
    width: 1.5vw;
    height: 0.5vh;
    border-radius: 5px;
    background: var(--white);
    top: 250%;
    transition: all 150ms ease-in;
  } */

  .toggle--checkbox:checked + element {
    /* // Element can be after our checkbox */
    
  }

  .toggle--checkbox:checked ~ .background{
    background-color: var(--indigo-background);
  }
/* 
#b{
  background-color: var(--indigo-background);
}

  .toggle--checkbox:checked ~ #b{
    background-color: red;
  } */

  .toggle--checkbox:checked + .toggle--label {
    background: var(--indigo-color);
    border-color: var(--indigo-border);
  }

  .toggle--checkbox:checked + .toggle--label:before {
    background: var(--white);
    border-color: var(--gray-border);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
  }


  /* .toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: '';
    box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
    left: 143px;
    top: 23px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
  } */

  .toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
  }

  /* .toggle--checkbox:checked + .toggle--label .toggle--label-background {
    left: 60px;
    width: 5px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
    width: 5px;
    height: 5px;
    top: -25px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
    width: 5px;
    height: 5px;
    left: -30px;
    top: 20px;
  } */

  